.searchPart {
    width: 600px;
    margin-top: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.massage_reserve {
    z-index: 7;
    position: relative;
    background: wheat;
    text-align: center;
    width: fit-content;
    left: 78%;
}
.massage_not_reserve {
    z-index: 7;
    position: relative;
    background: rgb(255, 46, 46);
    text-align: center;
    width: fit-content;
    left: 51%;
}
.text-bold {
    font-weight: bold;
}
#show_discription {
    cursor: pointer !important;
}
